.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.note {
  height: 100px; 
  width: 50px; 
  background-color: #FCFCFF;
  border: 1px solid black;

  text-align: center;
  font-family: Helvetica;
  font-size: 20px;
}

.form{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.intervalBtn{
  display: flex;
  justify-content: center;
  margin: auto;
}

